{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{plugins, [covertool]}.

{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/farhadi/spinlock">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
